.main__view{
    display: flex;
}
.view__container{
    flex: 4;
}
.view__container{
    padding: 2.5rem;
}
.view__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.view__bar::after{
    content: '';
    top: 10rem;
    width: 75%;
    background-color: #E2E8F0;
    height: 1px;
    position: absolute;
}
.view__button, .create__button{
    background: #2A4365;
    color: white;
    padding: .3rem 1rem;
    border-radius: 5px;
}
